In [4]:
# Data manipulation
import numpy as np
import pandas as pd
# Visualization
import matplotlib.pyplot as plt
from matplotlib import style 
style.use("ggplot")
# Machine learning
import sklearn as sk

## 1. Data wrangling
### 1.1 Load data

In [5]:
# Load data
df = pd.read_csv("data/train.csv")

In [6]:
# Visualize
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 1.2 Clean data

In [8]:
df_copy = df.drop(["PassengerId", "Name", "Ticket", "Cabin", "Embarked"], axis = 1)
df_copy.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [9]:
df_copy.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [20]:
mean_age = df_copy["Age"].mean()
print("Mean age is: {}".format(mean_age))

Mean age is: 29.69911764705882

In [21]:
df_copy["Age"] = df_copy["Age"].fillna(mean_age)
df_copy["Age"].describe()

count    891.000000
mean      29.699118
std       13.002015
min        0.420000
25%       22.000000
50%       29.699118
75%       35.000000
max       80.000000
Name: Age, dtype: float64

In [22]:
df_copy = pd.get_dummies(df_copy)
df_copy.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  Sex_female  Sex_male
0         0       3  22.0      1      0   7.2500           0         1
1         1       1  38.0      1      0  71.2833           1         0
2         1       3  26.0      0      0   7.9250           1         0
3         1       1  35.0      1      0  53.1000           1         0
4         0       3  35.0      0      0   8.0500           0         1

## 2. Exploratory data analysis

Age to Categorical
* age < 18 -> children
* age >= 18 && age < 45-> young adults
* age >= 45 && age < 55 -> old adults
* age > 55 -> elder

In [37]:
# Univariate
filtered_children = df_copy.query("Survived == 1 & Age < 18")
print("Children that survived: {}".format(filtered_children.shape[0]))
filtered_children_died = df_copy.query("Survived == 0 & Age < 18")
print("Children that not survived: {}".format(filtered_children_died.shape[0]))

filtered_young_adults = df_copy.query("Survived == 1 & Age >= 18 & Age < 45")
print("\nYoung adults that survived: {}".format(filtered_young_adults.shape[0]))
filtered_young_adults_died = df_copy.query("Survived == 0 & Age >= 18 & Age < 45")
print("Young adults that not survived: {}".format(filtered_young_adults_died.shape[0]))

filtered_adults = df_copy.query("Survived == 1 & Age >= 45 & Age < 55")
print("\nAdults that survived: {}".format(filtered_adults.shape[0]))
filtered_adults_died = df_copy.query("Survived == 0 & Age >= 45 & Age < 55")
print("Adults that not survived: {}".format(filtered_adults_died.shape[0]))

filtered_elder = df_copy.query("Survived == 1 & Age >= 55")
print("\nEldey that survived: {}".format(filtered_elder.shape[0]))
filtered_elder_died = df_copy.query("Survived == 0 & Age >= 55")
print("Elder that not survived: {}".format(filtered_elder_died.shape[0]))

Children that survived: 61
Children that not survived: 52

Young adults that survived: 238
Young adults that not survived: 425

Adults that survived: 30
Adults that not survived: 43

Eldey that survived: 13
Elder that not survived: 29

In [35]:
print("Children survival ratio: {}".format(filtered_children.shape[0]/filtered_children_died.shape[0]))
print("Adults survival ratio: {}".format(filtered_adults.shape[0]/filtered_adults_died.shape[0]))

Children survival ratio: 1.1730769230769231
Adults survival ratio: 0.6976744186046512

In [36]:
print("Children/adults survival ratio: {}".format(filtered_children.shape[0]/filtered_adults.shape[0]))

Children/adults survival ratio: 2.033333333333333

### Conclusions

In [38]:
df_copy.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  Sex_female  Sex_male
0         0       3  22.0      1      0   7.2500           0         1
1         1       1  38.0      1      0  71.2833           1         0
2         1       3  26.0      0      0   7.9250           1         0
3         1       1  35.0      1      0  53.1000           1         0
4         0       3  35.0      0      0   8.0500           0         1

In [40]:
x = np.array(df_copy.drop(["Survived"], axis = 1))
y = np.array(df_copy["Survived"])
print(x.shape, y.shape)

(891, 7) (891,)

In [41]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x, y)
# Get the score for the training set
score = clf.score(x, y)
print("Score in training set: {}".format(score))

Score in training set: 0.9820426487093153

### Submission

In [45]:
# Read test set
df_test_set = pd.read_csv("data/test.csv")
df_test_set.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [46]:
# The table has all the variables, we don't need all of them because we 
# only used a few for our model
# Let's clean the variables we don't use
df_test_set = df_test_set.drop(["Ticket", "Name", "Embarked", "Cabin"],\
                             axis = 1)
df_test_set.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare
0          892       3    male  34.5      0      0   7.8292
1          893       3  female  47.0      1      0   7.0000
2          894       2    male  62.0      0      0   9.6875
3          895       3    male  27.0      0      0   8.6625
4          896       3  female  22.0      1      1  12.2875

In [47]:
# Clean the data
# For the age's values
mean_value_age = df_test_set["Age"].mean()
df_test_set["Age"] = df_test_set["Age"].fillna(mean_value_age)

# For the fare's values
mean_value_fare = df_test_set["Fare"].mean()
df_test_set["Fare"] = df_test_set["Fare"].fillna(mean_value_fare)

In [48]:
df_test_set.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  418.000000  418.000000  418.000000  418.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   12.634534    0.896760    0.981429   55.840500
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   23.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   30.272590    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   35.750000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [49]:
# Let's give format to our data
df_test_set = pd.get_dummies(df_test_set)
df_test_set.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare  Sex_female  Sex_male
0          892       3  34.5      0      0   7.8292           0         1
1          893       3  47.0      1      0   7.0000           1         0
2          894       2  62.0      0      0   9.6875           0         1
3          895       3  27.0      0      0   8.6625           0         1
4          896       3  22.0      1      1  12.2875           1         0

In [50]:
# Open a file
submission_file = open("data/send_kaggle_file_v2.csv", "w")
submission_file.write("PassengerId,Survived\n")

# Now we can predict our test set
for i in range(df_test_set.shape[0]):
    # Let's locate one example
    example_test_set = df_test_set.drop(["PassengerId"], axis = 1).iloc[i]
    example_test_set_for_sklearn = np.array(example_test_set).reshape(1, -1)
    # Let's use the Machine Learning model
    classification_example_test_set = clf.predict(example_test_set_for_sklearn)
    print("**For the data \n{}, \n*we predict {}\n".format(example_test_set, classification_example_test_set))
    # Write the output file
    submission_file.write(str(df_test_set["PassengerId"].iloc[i]) \
                          + "," + str(np.squeeze(classification_example_test_set)) + "\n")
# Close the output file
submission_file.close()

**For the data
Pclass         3.0000
Age           34.5000
SibSp          0.0000
Parch          0.0000
Fare           7.8292
Sex_female     0.0000
Sex_male       1.0000
Name: 0, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0
Age           47.0
SibSp          1.0
Parch          0.0
Fare           7.0
Sex_female     1.0
Sex_male       0.0
Name: 1, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0000
Age           62.0000
SibSp          0.0000
Parch          0.0000
Fare           9.6875
Sex_female     0.0000
Sex_male       1.0000
Name: 2, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           27.0000
SibSp          0.0000
Parch          0.0000
Fare           8.6625
Sex_female     0.0000
Sex_male       1.0000
Name: 3, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           22.0000
SibSp          1.0000
Parch          1.0000
Fare          12.2875
Sex_female     1.0000
Sex_male       0.0000
Name: 4, dtype: float64,
*we predict [1]

**For the data
Pclass         3.000
Age           14.000
SibSp          0.000
Parch          0.000
Fare           9.225
Sex_female     0.000
Sex_male       1.000
Name: 5, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age           30.0000
SibSp          0.0000
Parch          0.0000
Fare           7.6292
Sex_female     1.0000
Sex_male       0.0000
Name: 6, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           26.0
SibSp          1.0
Parch          1.0
Fare          29.0
Sex_female     0.0
Sex_male       1.0
Name: 7, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age           18.0000
SibSp          0.0000
Parch          0.0000
Fare           7.2292
Sex_female     1.0000
Sex_male       0.0000
Name: 8, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00
Age           21.00
SibSp          2.00
Parch          0.00
Fare          24.15
Sex_female     0.00
Sex_male       1.00
Name: 9, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.89580
Sex_female     0.00000
Sex_male       1.00000
Name: 10, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0
Age           46.0
SibSp          0.0
Parch          0.0
Fare          26.0
Sex_female     0.0
Sex_male       1.0
Name: 11, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0000
Age           23.0000
SibSp          1.0000
Parch          0.0000
Fare          82.2667
Sex_female     1.0000
Sex_male       0.0000
Name: 12, dtype: float64,
*we predict [1]

**For the data
Pclass         2.0
Age           63.0
SibSp          1.0
Parch          0.0
Fare          26.0
Sex_female     0.0
Sex_male       1.0
Name: 13, dtype: float64,
*we predict [1]

**For the data
Pclass         1.000
Age           47.000
SibSp          1.000
Parch          0.000
Fare          61.175
Sex_female     1.000
Sex_male       0.000
Name: 14, dtype: float64,
*we predict [1]

**For the data
Pclass         2.0000
Age           24.0000
SibSp          1.0000
Parch          0.0000
Fare          27.7208
Sex_female     1.0000
Sex_male       0.0000
Name: 15, dtype: float64,
*we predict [1]

**For the data
Pclass         2.00
Age           35.00
SibSp          0.00
Parch          0.00
Fare          12.35
Sex_female     0.00
Sex_male       1.00
Name: 16, dtype: float64,
*we predict [0]

**For the data
Pclass         3.000
Age           21.000
SibSp          0.000
Parch          0.000
Fare           7.225
Sex_female     0.000
Sex_male       1.000
Name: 17, dtype: float64,
*we predict [1]

**For the data
Pclass         3.000
Age           27.000
SibSp          1.000
Parch          0.000
Fare           7.925
Sex_female     1.000
Sex_male       0.000
Name: 18, dtype: float64,
*we predict [1]

**For the data
Pclass         3.000
Age           45.000
SibSp          0.000
Parch          0.000
Fare           7.225
Sex_female     1.000
Sex_male       0.000
Name: 19, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0
Age           55.0
SibSp          1.0
Parch          0.0
Fare          59.4
Sex_female     0.0
Sex_male       1.0
Name: 20, dtype: float64,
*we predict [0]

**For the data
Pclass        3.0000
Age           9.0000
SibSp         0.0000
Parch         1.0000
Fare          3.1708
Sex_female    0.0000
Sex_male      1.0000
Name: 21, dtype: float64,
*we predict [1]

**For the data
Pclass         1.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare          31.68330
Sex_female     1.00000
Sex_male       0.00000
Name: 22, dtype: float64,
*we predict [1]

**For the data
Pclass         1.0000
Age           21.0000
SibSp          0.0000
Parch          1.0000
Fare          61.3792
Sex_female     0.0000
Sex_male       1.0000
Name: 23, dtype: float64,
*we predict [1]

**For the data
Pclass          1.000
Age            48.000
SibSp           1.000
Parch           3.000
Fare          262.375
Sex_female      1.000
Sex_male        0.000
Name: 24, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0
Age           50.0
SibSp          1.0
Parch          0.0
Fare          14.5
Sex_female     0.0
Sex_male       1.0
Name: 25, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0000
Age           22.0000
SibSp          0.0000
Parch          1.0000
Fare          61.9792
Sex_female     1.0000
Sex_male       0.0000
Name: 26, dtype: float64,
*we predict [1]

**For the data
Pclass         3.000
Age           22.500
SibSp          0.000
Parch          0.000
Fare           7.225
Sex_female     0.000
Sex_male       1.000
Name: 27, dtype: float64,
*we predict [1]

**For the data
Pclass         1.0
Age           41.0
SibSp          0.0
Parch          0.0
Fare          30.5
Sex_female     0.0
Sex_male       1.0
Name: 28, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          2.00000
Parch          0.00000
Fare          21.67920
Sex_female     0.00000
Sex_male       1.00000
Name: 29, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           50.0
SibSp          1.0
Parch          0.0
Fare          26.0
Sex_female     0.0
Sex_male       1.0
Name: 30, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           24.0
SibSp          2.0
Parch          0.0
Fare          31.5
Sex_female     0.0
Sex_male       1.0
Name: 31, dtype: float64,
*we predict [0]

**For the data
Pclass         3.000
Age           33.000
SibSp          1.000
Parch          2.000
Fare          20.575
Sex_female     1.000
Sex_male       0.000
Name: 32, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          1.00000
Parch          2.00000
Fare          23.45000
Sex_female     1.00000
Sex_male       0.00000
Name: 33, dtype: float64,
*we predict [0]

**For the data
Pclass         1.00
Age           30.00
SibSp          1.00
Parch          0.00
Fare          57.75
Sex_female     0.00
Sex_male       1.00
Name: 34, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           18.5000
SibSp          0.0000
Parch          0.0000
Fare           7.2292
Sex_female     0.0000
Sex_male       1.0000
Name: 35, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           8.05000
Sex_female     1.00000
Sex_male       0.00000
Name: 36, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age           21.0000
SibSp          0.0000
Parch          0.0000
Fare           8.6625
Sex_female     1.0000
Sex_male       0.0000
Name: 37, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0
Age           25.0
SibSp          0.0
Parch          0.0
Fare           9.5
Sex_female     0.0
Sex_male       1.0
Name: 38, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare          56.49580
Sex_female     0.00000
Sex_male       1.00000
Name: 39, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           39.0000
SibSp          0.0000
Parch          1.0000
Fare          13.4167
Sex_female     0.0000
Sex_male       1.0000
Name: 40, dtype: float64,
*we predict [0]

**For the data
Pclass         1.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare          26.55000
Sex_female     0.00000
Sex_male       1.00000
Name: 41, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00
Age           41.00
SibSp          0.00
Parch          0.00
Fare           7.85
Sex_female     0.00
Sex_male       1.00
Name: 42, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           30.0
SibSp          0.0
Parch          0.0
Fare          13.0
Sex_female     1.0
Sex_male       0.0
Name: 43, dtype: float64,
*we predict [1]

**For the data
Pclass         1.0000
Age           45.0000
SibSp          1.0000
Parch          0.0000
Fare          52.5542
Sex_female     1.0000
Sex_male       0.0000
Name: 44, dtype: float64,
*we predict [1]

**For the data
Pclass         3.000
Age           25.000
SibSp          0.000
Parch          0.000
Fare           7.925
Sex_female     0.000
Sex_male       1.000
Name: 45, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0
Age           45.0
SibSp          0.0
Parch          0.0
Fare          29.7
Sex_female     0.0
Sex_male       1.0
Name: 46, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.75000
Sex_female     0.00000
Sex_male       1.00000
Name: 47, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0000
Age           60.0000
SibSp          0.0000
Parch          0.0000
Fare          76.2917
Sex_female     1.0000
Sex_male       0.0000
Name: 48, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0
Age           36.0
SibSp          0.0
Parch          2.0
Fare          15.9
Sex_female     1.0
Sex_male       0.0
Name: 49, dtype: float64,
*we predict [1]

**For the data
Pclass         1.0
Age           24.0
SibSp          1.0
Parch          0.0
Fare          60.0
Sex_female     0.0
Sex_male       1.0
Name: 50, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0000
Age           27.0000
SibSp          0.0000
Parch          0.0000
Fare          15.0333
Sex_female     0.0000
Sex_male       1.0000
Name: 51, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           20.0
SibSp          2.0
Parch          1.0
Fare          23.0
Sex_female     1.0
Sex_male       0.0
Name: 52, dtype: float64,
*we predict [1]

**For the data
Pclass          1.0
Age            28.0
SibSp           3.0
Parch           2.0
Fare          263.0
Sex_female      1.0
Sex_male        0.0
Name: 53, dtype: float64,
*we predict [0]

**For the data
Pclass         2.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare          15.57920
Sex_female     0.00000
Sex_male       1.00000
Name: 54, dtype: float64,
*we predict [0]

**For the data
Pclass         3.000
Age           10.000
SibSp          4.000
Parch          1.000
Fare          29.125
Sex_female     0.000
Sex_male       1.000
Name: 55, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age           35.0000
SibSp          0.0000
Parch          0.0000
Fare           7.8958
Sex_female     0.0000
Sex_male       1.0000
Name: 56, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00
Age           25.00
SibSp          0.00
Parch          0.00
Fare           7.65
Sex_female     0.00
Sex_male       1.00
Name: 57, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          1.00000
Parch          0.00000
Fare          16.10000
Sex_female     0.00000
Sex_male       1.00000
Name: 58, dtype: float64,
*we predict [0]

**For the data
Pclass          1.000
Age            36.000
SibSp           0.000
Parch           0.000
Fare          262.375
Sex_female      1.000
Sex_male        0.000
Name: 59, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           17.0000
SibSp          0.0000
Parch          0.0000
Fare           7.8958
Sex_female     0.0000
Sex_male       1.0000
Name: 60, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           32.0
SibSp          0.0
Parch          0.0
Fare          13.5
Sex_female     0.0
Sex_male       1.0
Name: 61, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00
Age           18.00
SibSp          0.00
Parch          0.00
Fare           7.75
Sex_female     0.00
Sex_male       1.00
Name: 62, dtype: float64,
*we predict [0]

**For the data
Pclass         3.000
Age           22.000
SibSp          0.000
Parch          0.000
Fare           7.725
Sex_female     1.000
Sex_male       0.000
Name: 63, dtype: float64,
*we predict [1]

**For the data
Pclass          1.000
Age            13.000
SibSp           2.000
Parch           2.000
Fare          262.375
Sex_female      0.000
Sex_male        1.000
Name: 64, dtype: float64,
*we predict [0]

**For the data
Pclass         2.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare          21.00000
Sex_female     1.00000
Sex_male       0.00000
Name: 65, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           18.0000
SibSp          0.0000
Parch          0.0000
Fare           7.8792
Sex_female     1.0000
Sex_male       0.0000
Name: 66, dtype: float64,
*we predict [1]

**For the data
Pclass         1.0
Age           47.0
SibSp          0.0
Parch          0.0
Fare          42.4
Sex_female     0.0
Sex_male       1.0
Name: 67, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0000
Age           31.0000
SibSp          0.0000
Parch          0.0000
Fare          28.5375
Sex_female     0.0000
Sex_male       1.0000
Name: 68, dtype: float64,
*we predict [0]

**For the data
Pclass          1.0
Age            60.0
SibSp           1.0
Parch           4.0
Fare          263.0
Sex_female      1.0
Sex_male        0.0
Name: 69, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00
Age           24.00
SibSp          0.00
Parch          0.00
Fare           7.75
Sex_female     1.00
Sex_male       0.00
Name: 70, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age           21.0000
SibSp          0.0000
Parch          0.0000
Fare           7.8958
Sex_female     0.0000
Sex_male       1.0000
Name: 71, dtype: float64,
*we predict [0]

**For the data
Pclass         3.000
Age           29.000
SibSp          0.000
Parch          0.000
Fare           7.925
Sex_female     1.000
Sex_male       0.000
Name: 72, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0000
Age           28.5000
SibSp          0.0000
Parch          0.0000
Fare          27.7208
Sex_female     0.0000
Sex_male       1.0000
Name: 73, dtype: float64,
*we predict [0]

**For the data
Pclass          1.0
Age            35.0
SibSp           0.0
Parch           0.0
Fare          211.5
Sex_female      1.0
Sex_male        0.0
Name: 74, dtype: float64,
*we predict [1]

**For the data
Pclass          1.0
Age            32.5
SibSp           0.0
Parch           0.0
Fare          211.5
Sex_female      0.0
Sex_male        1.0
Name: 75, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           8.05000
Sex_female     0.00000
Sex_male       1.00000
Name: 76, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0
Age           55.0
SibSp          2.0
Parch          0.0
Fare          25.7
Sex_female     1.0
Sex_male       0.0
Name: 77, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           30.0
SibSp          0.0
Parch          0.0
Fare          13.0
Sex_female     0.0
Sex_male       1.0
Name: 78, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00
Age           24.00
SibSp          0.00
Parch          0.00
Fare           7.75
Sex_female     1.00
Sex_male       0.00
Name: 79, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age            6.0000
SibSp          1.0000
Parch          1.0000
Fare          15.2458
Sex_female     0.0000
Sex_male       1.0000
Name: 80, dtype: float64,
*we predict [1]

**For the data
Pclass          1.0000
Age            67.0000
SibSp           1.0000
Parch           0.0000
Fare          221.7792
Sex_female      0.0000
Sex_male        1.0000
Name: 81, dtype: float64,
*we predict [1]

**For the data
Pclass         1.0
Age           49.0
SibSp          0.0
Parch          0.0
Fare          26.0
Sex_female     0.0
Sex_male       1.0
Name: 82, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.89580
Sex_female     0.00000
Sex_male       1.00000
Name: 83, dtype: float64,
*we predict [0]

**For the data
Pclass         2.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare          10.70830
Sex_female     0.00000
Sex_male       1.00000
Name: 84, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          1.00000
Parch          0.00000
Fare          14.45420
Sex_female     0.00000
Sex_male       1.00000
Name: 85, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age           27.0000
SibSp          0.0000
Parch          0.0000
Fare           7.8792
Sex_female     1.0000
Sex_male       0.0000
Name: 86, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00
Age           18.00
SibSp          0.00
Parch          0.00
Fare           8.05
Sex_female     1.00
Sex_male       0.00
Name: 87, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.75000
Sex_female     1.00000
Sex_male       0.00000
Name: 88, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age            2.0
SibSp          1.0
Parch          1.0
Fare          23.0
Sex_female     0.0
Sex_male       1.0
Name: 89, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0
Age           22.0
SibSp          1.0
Parch          0.0
Fare          13.9
Sex_female     1.0
Sex_male       0.0
Name: 90, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.77500
Sex_female     0.00000
Sex_male       1.00000
Name: 91, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0
Age           27.0
SibSp          1.0
Parch          2.0
Fare          52.0
Sex_female     1.0
Sex_male       0.0
Name: 92, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           8.05000
Sex_female     0.00000
Sex_male       1.00000
Name: 93, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0
Age           25.0
SibSp          0.0
Parch          0.0
Fare          26.0
Sex_female     0.0
Sex_male       1.0
Name: 94, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age           25.0000
SibSp          0.0000
Parch          0.0000
Fare           7.7958
Sex_female     0.0000
Sex_male       1.0000
Name: 95, dtype: float64,
*we predict [0]

**For the data
Pclass         1.00
Age           76.00
SibSp          1.00
Parch          0.00
Fare          78.85
Sex_female     1.00
Sex_male       0.00
Name: 96, dtype: float64,
*we predict [1]

**For the data
Pclass         3.000
Age           29.000
SibSp          0.000
Parch          0.000
Fare           7.925
Sex_female     0.000
Sex_male       1.000
Name: 97, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           20.0000
SibSp          0.0000
Parch          0.0000
Fare           7.8542
Sex_female     1.0000
Sex_male       0.0000
Name: 98, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00
Age           33.00
SibSp          0.00
Parch          0.00
Fare           8.05
Sex_female     0.00
Sex_male       1.00
Name: 99, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0000
Age           43.0000
SibSp          1.0000
Parch          0.0000
Fare          55.4417
Sex_female     1.0000
Sex_male       0.0000
Name: 100, dtype: float64,
*we predict [1]

**For the data
Pclass         2.0
Age           27.0
SibSp          1.0
Parch          0.0
Fare          26.0
Sex_female     0.0
Sex_male       1.0
Name: 101, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.75000
Sex_female     0.00000
Sex_male       1.00000
Name: 102, dtype: float64,
*we predict [0]

**For the data
Pclass         3.000
Age           26.000
SibSp          0.000
Parch          0.000
Fare           7.775
Sex_female     0.000
Sex_male       1.000
Name: 103, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age           16.0000
SibSp          1.0000
Parch          1.0000
Fare           8.5167
Sex_female     1.0000
Sex_male       0.0000
Name: 104, dtype: float64,
*we predict [1]

**For the data
Pclass         3.000
Age           28.000
SibSp          0.000
Parch          0.000
Fare          22.525
Sex_female     0.000
Sex_male       1.000
Name: 105, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age           21.0000
SibSp          0.0000
Parch          0.0000
Fare           7.8208
Sex_female     0.0000
Sex_male       1.0000
Name: 106, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.75000
Sex_female     0.00000
Sex_male       1.00000
Name: 107, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           8.71250
Sex_female     0.00000
Sex_male       1.00000
Name: 108, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           18.5
SibSp          0.0
Parch          0.0
Fare          13.0
Sex_female     0.0
Sex_male       1.0
Name: 109, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0000
Age           41.0000
SibSp          0.0000
Parch          0.0000
Fare          15.0458
Sex_female     0.0000
Sex_male       1.0000
Name: 110, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.77920
Sex_female     1.00000
Sex_male       0.00000
Name: 111, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0000
Age           36.0000
SibSp          0.0000
Parch          0.0000
Fare          31.6792
Sex_female     1.0000
Sex_male       0.0000
Name: 112, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           18.5000
SibSp          0.0000
Parch          0.0000
Fare           7.2833
Sex_female     1.0000
Sex_male       0.0000
Name: 113, dtype: float64,
*we predict [1]

**For the data
Pclass          1.0000
Age            63.0000
SibSp           1.0000
Parch           0.0000
Fare          221.7792
Sex_female      1.0000
Sex_male        0.0000
Name: 114, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           18.0000
SibSp          1.0000
Parch          0.0000
Fare          14.4542
Sex_female     0.0000
Sex_male       1.0000
Name: 115, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           6.43750
Sex_female     0.00000
Sex_male       1.00000
Name: 116, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0
Age            1.0
SibSp          1.0
Parch          1.0
Fare          16.7
Sex_female     1.0
Sex_male       0.0
Name: 117, dtype: float64,
*we predict [1]

**For the data
Pclass         1.0000
Age           36.0000
SibSp          0.0000
Parch          0.0000
Fare          75.2417
Sex_female     0.0000
Sex_male       1.0000
Name: 118, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           29.0
SibSp          1.0
Parch          0.0
Fare          26.0
Sex_female     1.0
Sex_male       0.0
Name: 119, dtype: float64,
*we predict [1]

**For the data
Pclass         2.00
Age           12.00
SibSp          0.00
Parch          0.00
Fare          15.75
Sex_female     1.00
Sex_male       0.00
Name: 120, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          1.00000
Parch          0.00000
Fare           7.75000
Sex_female     0.00000
Sex_male       1.00000
Name: 121, dtype: float64,
*we predict [0]

**For the data
Pclass         1.00
Age           35.00
SibSp          1.00
Parch          0.00
Fare          57.75
Sex_female     1.00
Sex_male       0.00
Name: 122, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00
Age           28.00
SibSp          0.00
Parch          0.00
Fare           7.25
Sex_female     0.00
Sex_male       1.00
Name: 123, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.75000
Sex_female     0.00000
Sex_male       1.00000
Name: 124, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0
Age           17.0
SibSp          0.0
Parch          1.0
Fare          16.1
Sex_female     1.0
Sex_male       0.0
Name: 125, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           22.0000
SibSp          0.0000
Parch          0.0000
Fare           7.7958
Sex_female     0.0000
Sex_male       1.0000
Name: 126, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          2.00000
Parch          0.00000
Fare          23.25000
Sex_female     1.00000
Sex_male       0.00000
Name: 127, dtype: float64,
*we predict [1]

**For the data
Pclass         2.0
Age           42.0
SibSp          0.0
Parch          0.0
Fare          13.0
Sex_female     0.0
Sex_male       1.0
Name: 128, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00
Age           24.00
SibSp          0.00
Parch          0.00
Fare           8.05
Sex_female     0.00
Sex_male       1.00
Name: 129, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00
Age           32.00
SibSp          0.00
Parch          0.00
Fare           8.05
Sex_female     0.00
Sex_male       1.00
Name: 130, dtype: float64,
*we predict [1]

**For the data
Pclass         1.0
Age           53.0
SibSp          0.0
Parch          0.0
Fare          28.5
Sex_female     0.0
Sex_male       1.0
Name: 131, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          4.00000
Fare          25.46670
Sex_female     1.00000
Sex_male       0.00000
Name: 132, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          1.00000
Parch          0.00000
Fare           6.43750
Sex_female     0.00000
Sex_male       1.00000
Name: 133, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age           43.0000
SibSp          0.0000
Parch          0.0000
Fare           7.8958
Sex_female     0.0000
Sex_male       1.0000
Name: 134, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age           24.0000
SibSp          0.0000
Parch          0.0000
Fare           7.8542
Sex_female     0.0000
Sex_male       1.0000
Name: 135, dtype: float64,
*we predict [0]

**For the data
Pclass         3.000
Age           26.500
SibSp          0.000
Parch          0.000
Fare           7.225
Sex_female     0.000
Sex_male       1.000
Name: 136, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           26.0
SibSp          0.0
Parch          0.0
Fare          13.0
Sex_female     0.0
Sex_male       1.0
Name: 137, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00
Age           23.00
SibSp          0.00
Parch          0.00
Fare           8.05
Sex_female     1.00
Sex_male       0.00
Name: 138, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0
Age           40.0
SibSp          1.0
Parch          6.0
Fare          46.9
Sex_female     0.0
Sex_male       1.0
Name: 139, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0
Age           10.0
SibSp          5.0
Parch          2.0
Fare          46.9
Sex_female     1.0
Sex_male       0.0
Name: 140, dtype: float64,
*we predict [0]

**For the data
Pclass          1.00
Age            33.00
SibSp           0.00
Parch           0.00
Fare          151.55
Sex_female      1.00
Sex_male        0.00
Name: 141, dtype: float64,
*we predict [1]

**For the data
Pclass          1.000
Age            61.000
SibSp           1.000
Parch           3.000
Fare          262.375
Sex_female      0.000
Sex_male        1.000
Name: 142, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           28.0
SibSp          0.0
Parch          0.0
Fare          26.0
Sex_female     0.0
Sex_male       1.0
Name: 143, dtype: float64,
*we predict [0]

**For the data
Pclass         1.00
Age           42.00
SibSp          0.00
Parch          0.00
Fare          26.55
Sex_female     0.00
Sex_male       1.00
Name: 144, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0
Age           31.0
SibSp          3.0
Parch          0.0
Fare          18.0
Sex_female     0.0
Sex_male       1.0
Name: 145, dtype: float64,
*we predict [1]

**For the data
Pclass         1.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare          51.86250
Sex_female     0.00000
Sex_male       1.00000
Name: 146, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00
Age           22.00
SibSp          0.00
Parch          0.00
Fare           8.05
Sex_female     0.00
Sex_male       1.00
Name: 147, dtype: float64,
*we predict [0]

**For the data
Pclass         1.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare          26.55000
Sex_female     0.00000
Sex_male       1.00000
Name: 148, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           30.0
SibSp          1.0
Parch          1.0
Fare          26.0
Sex_female     0.0
Sex_male       1.0
Name: 149, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0000
Age           23.0000
SibSp          0.0000
Parch          1.0000
Fare          83.1583
Sex_female     1.0000
Sex_male       0.0000
Name: 150, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.89580
Sex_female     0.00000
Sex_male       1.00000
Name: 151, dtype: float64,
*we predict [0]

**For the data
Pclass         3.000000
Age           60.500000
SibSp          0.000000
Parch          0.000000
Fare          35.627188
Sex_female     0.000000
Sex_male       1.000000
Name: 152, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age           36.0000
SibSp          0.0000
Parch          2.0000
Fare          12.1833
Sex_female     1.0000
Sex_male       0.0000
Name: 153, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           13.0000
SibSp          4.0000
Parch          2.0000
Fare          31.3875
Sex_female     0.0000
Sex_male       1.0000
Name: 154, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00
Age           24.00
SibSp          0.00
Parch          0.00
Fare           7.55
Sex_female     0.00
Sex_male       1.00
Name: 155, dtype: float64,
*we predict [0]

**For the data
Pclass          1.0000
Age            29.0000
SibSp           0.0000
Parch           0.0000
Fare          221.7792
Sex_female      1.0000
Sex_male        0.0000
Name: 156, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           23.0000
SibSp          0.0000
Parch          0.0000
Fare           7.8542
Sex_female     1.0000
Sex_male       0.0000
Name: 157, dtype: float64,
*we predict [1]

**For the data
Pclass         1.00
Age           42.00
SibSp          0.00
Parch          0.00
Fare          26.55
Sex_female     0.00
Sex_male       1.00
Name: 158, dtype: float64,
*we predict [0]

**For the data
Pclass         3.000
Age           26.000
SibSp          0.000
Parch          2.000
Fare          13.775
Sex_female     1.000
Sex_male       0.000
Name: 159, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.73330
Sex_female     1.00000
Sex_male       0.00000
Name: 160, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age            7.0000
SibSp          1.0000
Parch          1.0000
Fare          15.2458
Sex_female     0.0000
Sex_male       1.0000
Name: 161, dtype: float64,
*we predict [1]

**For the data
Pclass         2.0
Age           26.0
SibSp          0.0
Parch          0.0
Fare          13.5
Sex_female     1.0
Sex_male       0.0
Name: 162, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.00000
Sex_female     0.00000
Sex_male       1.00000
Name: 163, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           41.0
SibSp          0.0
Parch          0.0
Fare          13.0
Sex_female     0.0
Sex_male       1.0
Name: 164, dtype: float64,
*we predict [0]

**For the data
Pclass         3.000
Age           26.000
SibSp          1.000
Parch          1.000
Fare          22.025
Sex_female     1.000
Sex_male       0.000
Name: 165, dtype: float64,
*we predict [1]

**For the data
Pclass         1.0000
Age           48.0000
SibSp          0.0000
Parch          0.0000
Fare          50.4958
Sex_female     0.0000
Sex_male       1.0000
Name: 166, dtype: float64,
*we predict [0]

**For the data
Pclass         3.000
Age           18.000
SibSp          2.000
Parch          2.000
Fare          34.375
Sex_female     0.000
Sex_male       1.000
Name: 167, dtype: float64,
*we predict [0]

**For the data
Pclass         1.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare          27.72080
Sex_female     1.00000
Sex_male       0.00000
Name: 168, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           22.0000
SibSp          0.0000
Parch          0.0000
Fare           8.9625
Sex_female     1.0000
Sex_male       0.0000
Name: 169, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.55000
Sex_female     0.00000
Sex_male       1.00000
Name: 170, dtype: float64,
*we predict [0]

**For the data
Pclass         3.000
Age           27.000
SibSp          0.000
Parch          0.000
Fare           7.225
Sex_female     0.000
Sex_male       1.000
Name: 171, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0
Age           23.0
SibSp          1.0
Parch          0.0
Fare          13.9
Sex_female     0.0
Sex_male       1.0
Name: 172, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.22920
Sex_female     0.00000
Sex_male       1.00000
Name: 173, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age           40.0000
SibSp          1.0000
Parch          5.0000
Fare          31.3875
Sex_female     0.0000
Sex_male       1.0000
Name: 174, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           15.0
SibSp          0.0
Parch          2.0
Fare          39.0
Sex_female     1.0
Sex_male       0.0
Name: 175, dtype: float64,
*we predict [1]

**For the data
Pclass         2.00
Age           20.00
SibSp          0.00
Parch          0.00
Fare          36.75
Sex_female     1.00
Sex_male       0.00
Name: 176, dtype: float64,
*we predict [1]

**For the data
Pclass         1.0000
Age           54.0000
SibSp          1.0000
Parch          0.0000
Fare          55.4417
Sex_female     0.0000
Sex_male       1.0000
Name: 177, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           36.0
SibSp          0.0
Parch          3.0
Fare          39.0
Sex_female     1.0
Sex_male       0.0
Name: 178, dtype: float64,
*we predict [1]

**For the data
Pclass         1.0000
Age           64.0000
SibSp          0.0000
Parch          2.0000
Fare          83.1583
Sex_female     1.0000
Sex_male       0.0000
Name: 179, dtype: float64,
*we predict [1]

**For the data
Pclass         2.0
Age           30.0
SibSp          0.0
Parch          0.0
Fare          13.0
Sex_female     0.0
Sex_male       1.0
Name: 180, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0000
Age           37.0000
SibSp          1.0000
Parch          1.0000
Fare          83.1583
Sex_female     0.0000
Sex_male       1.0000
Name: 181, dtype: float64,
*we predict [1]

**For the data
Pclass         1.0
Age           18.0
SibSp          1.0
Parch          0.0
Fare          53.1
Sex_female     1.0
Sex_male       0.0
Name: 182, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.75000
Sex_female     0.00000
Sex_male       1.00000
Name: 183, dtype: float64,
*we predict [0]

**For the data
Pclass          1.0000
Age            27.0000
SibSp           1.0000
Parch           1.0000
Fare          247.5208
Sex_female      1.0000
Sex_male        0.0000
Name: 184, dtype: float64,
*we predict [1]

**For the data
Pclass         2.0
Age           40.0
SibSp          0.0
Parch          0.0
Fare          16.0
Sex_female     0.0
Sex_male       1.0
Name: 185, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           21.0
SibSp          0.0
Parch          1.0
Fare          21.0
Sex_female     1.0
Sex_male       0.0
Name: 186, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00
Age           17.00
SibSp          2.00
Parch          0.00
Fare           8.05
Sex_female     0.00
Sex_male       1.00
Name: 187, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          8.00000
Parch          2.00000
Fare          69.55000
Sex_female     1.00000
Sex_male       0.00000
Name: 188, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           40.0
SibSp          0.0
Parch          0.0
Fare          13.0
Sex_female     0.0
Sex_male       1.0
Name: 189, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           34.0
SibSp          1.0
Parch          0.0
Fare          26.0
Sex_female     0.0
Sex_male       1.0
Name: 190, dtype: float64,
*we predict [0]

**For the data
Pclass         1.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare          26.00000
Sex_female     0.00000
Sex_male       1.00000
Name: 191, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0
Age           11.5
SibSp          1.0
Parch          1.0
Fare          14.5
Sex_female     0.0
Sex_male       1.0
Name: 192, dtype: float64,
*we predict [1]

**For the data
Pclass         2.00
Age           61.00
SibSp          0.00
Parch          0.00
Fare          12.35
Sex_female     0.00

**For the data
Pclass         2.0
Age            8.0
SibSp          0.0
Parch          2.0
Fare          32.5
Sex_female     0.0
Sex_male       1.0
Name: 194, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           33.0000
SibSp          0.0000
Parch          0.0000
Fare           7.8542
Sex_female     0.0000
Sex_male       1.0000
Name: 195, dtype: float64,
*we predict [0]

**For the data
Pclass          1.0
Age             6.0
SibSp           0.0
Parch           2.0
Fare          134.5
Sex_female      0.0
Sex_male        1.0
Name: 196, dtype: float64,
*we predict [1]

**For the data
Pclass         3.000
Age           18.000
SibSp          0.000
Parch          0.000
Fare           7.775
Sex_female     1.000
Sex_male       0.000
Name: 197, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           23.0
SibSp          0.0
Parch          0.0
Fare          10.5
Sex_female     0.0
Sex_male       1.0
Name: 198, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           8.11250
Sex_female     1.00000
Sex_male       0.00000
Name: 199, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare          15.50000
Sex_female     1.00000
Sex_male       0.00000
Name: 200, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00
Age            0.33
SibSp          0.00
Parch          2.00
Fare          14.40
Sex_female     0.00
Sex_male       1.00
Name: 201, dtype: float64,
*we predict [1]

**For the data
Pclass          1.000
Age            47.000
SibSp           1.000
Parch           0.000
Fare          227.525
Sex_female      0.000
Sex_male        1.000
Name: 202, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age            8.0
SibSp          1.0
Parch          1.0
Fare          26.0
Sex_female     1.0
Sex_male       0.0
Name: 203, dtype: float64,
*we predict [1]

**For the data
Pclass         2.0
Age           25.0
SibSp          0.0
Parch          0.0
Fare          10.5
Sex_female     0.0
Sex_male       1.0
Name: 204, dtype: float64,
*we predict [0]

**For the data
Pclass         1.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare          25.74170
Sex_female     0.00000
Sex_male       1.00000
Name: 205, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00
Age           35.00
SibSp          0.00
Parch          0.00
Fare           7.75
Sex_female     1.00
Sex_male       0.00
Name: 206, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           24.0
SibSp          0.0
Parch          0.0
Fare          10.5
Sex_female     0.0
Sex_male       1.0
Name: 207, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0000
Age           33.0000
SibSp          0.0000
Parch          0.0000
Fare          27.7208
Sex_female     1.0000
Sex_male       0.0000
Name: 208, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           25.0000
SibSp          0.0000
Parch          0.0000
Fare           7.8958
Sex_female     0.0000
Sex_male       1.0000
Name: 209, dtype: float64,
*we predict [0]

**For the data
Pclass         3.000
Age           32.000
SibSp          0.000
Parch          0.000
Fare          22.525
Sex_female     0.000
Sex_male       1.000
Name: 210, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.05000
Sex_female     0.00000
Sex_male       1.00000
Name: 211, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           17.0
SibSp          0.0
Parch          0.0
Fare          73.5
Sex_female     0.0
Sex_male       1.0
Name: 212, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           60.0
SibSp          1.0
Parch          0.0
Fare          26.0
Sex_female     1.0
Sex_male       0.0
Name: 213, dtype: float64,
*we predict [0]

**For the data
Pclass         3.000
Age           38.000
SibSp          4.000
Parch          2.000
Fare           7.775
Sex_female     1.000
Sex_male       0.000
Name: 214, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0
Age           42.0
SibSp          0.0
Parch          0.0
Fare          42.5
Sex_female     0.0
Sex_male       1.0
Name: 215, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.87920
Sex_female     1.00000
Sex_male       0.00000
Name: 216, dtype: float64,
*we predict [0]

**For the data
Pclass          1.0000
Age            57.0000
SibSp           1.0000
Parch           1.0000
Fare          164.8667
Sex_female      0.0000
Sex_male        1.0000
Name: 217, dtype: float64,
*we predict [1]

**For the data
Pclass          1.0
Age            50.0
SibSp           1.0
Parch           1.0
Fare          211.5
Sex_female      1.0
Sex_male        0.0
Name: 218, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           8.05000
Sex_female     0.00000
Sex_male       1.00000
Name: 219, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0000
Age           30.0000
SibSp          1.0000
Parch          0.0000
Fare          13.8583
Sex_female     1.0000
Sex_male       0.0000
Name: 220, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00
Age           21.00
SibSp          0.00
Parch          0.00
Fare           8.05
Sex_female     0.00
Sex_male       1.00
Name: 221, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           22.0
SibSp          0.0
Parch          0.0
Fare          10.5
Sex_female     1.0
Sex_male       0.0
Name: 222, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           21.0000
SibSp          0.0000
Parch          0.0000
Fare           7.7958
Sex_female     0.0000
Sex_male       1.0000
Name: 223, dtype: float64,
*we predict [1]

**For the data
Pclass         1.0000
Age           53.0000
SibSp          0.0000
Parch          0.0000
Fare          27.4458
Sex_female     1.0000
Sex_male       0.0000
Name: 224, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          2.00000
Fare          15.24580
Sex_female     1.00000
Sex_male       0.00000
Name: 225, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age           23.0000
SibSp          0.0000
Parch          0.0000
Fare           7.7958
Sex_female     0.0000
Sex_male       1.0000
Name: 226, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.75000
Sex_female     1.00000
Sex_male       0.00000
Name: 227, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0
Age           40.5
SibSp          0.0
Parch          0.0
Fare          15.1
Sex_female     0.0
Sex_male       1.0
Name: 228, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           36.0
SibSp          0.0
Parch          0.0
Fare          13.0
Sex_female     0.0
Sex_male       1.0
Name: 229, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           14.0
SibSp          0.0
Parch          0.0
Fare          65.0
Sex_female     0.0
Sex_male       1.0
Name: 230, dtype: float64,
*we predict [0]

**For the data
Pclass         1.00
Age           21.00
SibSp          0.00
Parch          0.00
Fare          26.55
Sex_female     1.00
Sex_male       0.00
Name: 231, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           21.0000
SibSp          1.0000
Parch          0.0000
Fare           6.4958
Sex_female     0.0000
Sex_male       1.0000
Name: 232, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.87920
Sex_female     0.00000
Sex_male       1.00000
Name: 233, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0000
Age           39.0000
SibSp          1.0000
Parch          0.0000
Fare          71.2833
Sex_female     0.0000
Sex_male       1.0000
Name: 234, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age           20.0000
SibSp          0.0000
Parch          0.0000
Fare           7.8542
Sex_female     0.0000
Sex_male       1.0000
Name: 235, dtype: float64,
*we predict [0]

**For the data
Pclass         1.00
Age           64.00
SibSp          1.00
Parch          0.00
Fare          75.25
Sex_female     0.00
Sex_male       1.00
Name: 236, dtype: float64,
*we predict [0]

**For the data
Pclass         3.000
Age           20.000
SibSp          0.000
Parch          0.000
Fare           7.225
Sex_female     0.000
Sex_male       1.000
Name: 237, dtype: float64,
*we predict [1]

**For the data
Pclass         2.0
Age           18.0
SibSp          1.0
Parch          1.0
Fare          13.0
Sex_female     1.0
Sex_male       0.0
Name: 238, dtype: float64,
*we predict [1]

**For the data
Pclass          1.000
Age            48.000
SibSp           1.000
Parch           0.000
Fare          106.425
Sex_female      1.000
Sex_male        0.000
Name: 239, dtype: float64,
*we predict [1]

**For the data
Pclass         1.0000
Age           55.0000
SibSp          0.0000
Parch          0.0000
Fare          27.7208
Sex_female     1.0000
Sex_male       0.0000
Name: 240, dtype: float64,
*we predict [1]

**For the data
Pclass         2.0
Age           45.0
SibSp          0.0
Parch          2.0
Fare          30.0
Sex_female     1.0
Sex_male       0.0
Name: 241, dtype: float64,
*we predict [1]

**For the data
Pclass          1.0
Age            45.0
SibSp           1.0
Parch           1.0
Fare          134.5
Sex_female      0.0
Sex_male        1.0
Name: 242, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.88750
Sex_female     0.00000
Sex_male       1.00000
Name: 243, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          1.00000
Parch          2.00000
Fare          23.45000
Sex_female     0.00000
Sex_male       1.00000
Name: 244, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0000
Age           41.0000
SibSp          1.0000
Parch          0.0000
Fare          51.8625
Sex_female     0.0000
Sex_male       1.0000
Name: 245, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           22.0
SibSp          0.0
Parch          0.0
Fare          21.0
Sex_female     1.0
Sex_male       0.0
Name: 246, dtype: float64,
*we predict [1]

**For the data
Pclass         2.0
Age           42.0
SibSp          1.0
Parch          1.0
Fare          32.5
Sex_female     0.0
Sex_male       1.0
Name: 247, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           29.0
SibSp          1.0
Parch          0.0
Fare          26.0
Sex_female     1.0
Sex_male       0.0
Name: 248, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          1.00000
Parch          0.00000
Fare          14.45420
Sex_female     1.00000
Sex_male       0.00000
Name: 249, dtype: float64,
*we predict [0]

**For the data
Pclass         2.00
Age            0.92
SibSp          1.00
Parch          2.00
Fare          27.75
Sex_female     1.00
Sex_male       0.00
Name: 250, dtype: float64,
*we predict [1]

**For the data
Pclass         3.000
Age           20.000
SibSp          0.000
Parch          0.000
Fare           7.925
Sex_female     0.000
Sex_male       1.000
Name: 251, dtype: float64,
*we predict [0]

**For the data
Pclass          1.0000
Age            27.0000
SibSp           1.0000
Parch           0.0000
Fare          136.7792
Sex_female      0.0000
Sex_male        1.0000
Name: 252, dtype: float64,
*we predict [0]

**For the data
Pclass         3.000
Age           24.000
SibSp          0.000
Parch          0.000
Fare           9.325
Sex_female     0.000
Sex_male       1.000
Name: 253, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0
Age           32.5
SibSp          0.0
Parch          0.0
Fare           9.5
Sex_female     0.0
Sex_male       1.0
Name: 254, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.55000
Sex_female     0.00000
Sex_male       1.00000
Name: 255, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.75000
Sex_female     0.00000
Sex_male       1.00000
Name: 256, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00
Age           28.00
SibSp          0.00
Parch          0.00
Fare           8.05
Sex_female     0.00
Sex_male       1.00
Name: 257, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           19.0
SibSp          0.0
Parch          0.0
Fare          13.0
Sex_female     1.0
Sex_male       0.0
Name: 258, dtype: float64,
*we predict [1]

**For the data
Pclass         3.000
Age           21.000
SibSp          0.000
Parch          0.000
Fare           7.775
Sex_female     0.000
Sex_male       1.000
Name: 259, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0
Age           36.5
SibSp          1.0
Parch          0.0
Fare          17.4
Sex_female     0.0
Sex_male       1.0
Name: 260, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age           21.0000
SibSp          0.0000
Parch          0.0000
Fare           7.8542
Sex_female     0.0000
Sex_male       1.0000
Name: 261, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           29.0
SibSp          0.0
Parch          2.0
Fare          23.0
Sex_female     1.0
Sex_male       0.0
Name: 262, dtype: float64,
*we predict [1]

**For the data
Pclass         3.0000
Age            1.0000
SibSp          1.0000
Parch          1.0000
Fare          12.1833
Sex_female     1.0000
Sex_male       0.0000
Name: 263, dtype: float64,
*we predict [1]

**For the data
Pclass         2.0000
Age           30.0000
SibSp          0.0000
Parch          0.0000
Fare          12.7375
Sex_female     0.0000
Sex_male       1.0000
Name: 264, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.89580
Sex_female     0.00000
Sex_male       1.00000
Name: 265, dtype: float64,
*we predict [0]

**For the data
Pclass         1.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           0.00000
Sex_female     0.00000
Sex_male       1.00000
Name: 266, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.55000
Sex_female     0.00000
Sex_male       1.00000
Name: 267, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           8.05000
Sex_female     1.00000
Sex_male       0.00000
Name: 268, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age           17.0000
SibSp          0.0000
Parch          0.0000
Fare           8.6625
Sex_female     0.0000
Sex_male       1.0000
Name: 269, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0000
Age           46.0000
SibSp          0.0000
Parch          0.0000
Fare          75.2417
Sex_female     0.0000
Sex_male       1.0000
Name: 270, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.75000
Sex_female     0.00000
Sex_male       1.00000
Name: 271, dtype: float64,
*we predict [0]

**For the data
Pclass          1.0000
Age            26.0000
SibSp           1.0000
Parch           0.0000
Fare          136.7792
Sex_female      1.0000
Sex_male        0.0000
Name: 272, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          1.00000
Parch          0.00000
Fare          15.50000
Sex_female     1.00000
Sex_male       0.00000
Name: 273, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.22500
Sex_female     0.00000
Sex_male       1.00000
Name: 274, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           20.0
SibSp          1.0
Parch          0.0
Fare          26.0
Sex_female     1.0
Sex_male       0.0
Name: 275, dtype: float64,
*we predict [1]

**For the data
Pclass         2.0
Age           28.0
SibSp          0.0
Parch          0.0
Fare          10.5
Sex_female     0.0
Sex_male       1.0
Name: 276, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           40.0
SibSp          1.0
Parch          0.0
Fare          26.0
Sex_female     0.0
Sex_male       1.0
Name: 277, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           30.0
SibSp          1.0
Parch          0.0
Fare          21.0
Sex_female     0.0
Sex_male       1.0
Name: 278, dtype: float64,
*we predict [0]

**For the data
Pclass         2.0
Age           22.0
SibSp          0.0
Parch          0.0
Fare          10.5
Sex_female     0.0
Sex_male       1.0
Name: 279, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age           23.0000
SibSp          0.0000
Parch          0.0000
Fare           8.6625
Sex_female     1.0000
Sex_male       0.0000
Name: 280, dtype: float64,
*we predict [0]

**For the data
Pclass         3.000
Age            0.750
SibSp          1.000
Parch          1.000
Fare          13.775
Sex_female     0.000
Sex_male       1.000
Name: 281, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.75000
Sex_female     1.00000
Sex_male       0.00000
Name: 282, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age            9.0000
SibSp          1.0000
Parch          1.0000
Fare          15.2458
Sex_female     1.0000
Sex_male       0.0000
Name: 283, dtype: float64,
*we predict [0]

**For the data
Pclass         3.0000
Age            2.0000
SibSp          1.0000
Parch          1.0000
Fare          20.2125
Sex_female     1.0000
Sex_male       0.0000
Name: 284, dtype: float64,
*we predict [1]

**For the data
Pclass         3.00
Age           36.00
SibSp          0.00
Parch          0.00
Fare           7.25
Sex_female     0.00
Sex_male       1.00
Name: 285, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.25000
Sex_female     0.00000
Sex_male       1.00000
Name: 286, dtype: float64,
*we predict [0]

**For the data
Pclass         1.0000
Age           24.0000
SibSp          1.0000
Parch          0.0000
Fare          82.2667
Sex_female     0.0000
Sex_male       1.0000
Name: 287, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           7.22920
Sex_female     0.00000
Sex_male       1.00000
Name: 288, dtype: float64,
*we predict [0]

**For the data
Pclass         3.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000
Fare           8.05000
Sex_female     0.00000
Sex_male       1.00000
Name: 289, dtype: float64,
*we predict [0]

**For the data
Pclass         1.00000
Age           30.27259
SibSp          0.00000
Parch          0.00000